.vscode
node_modules
*.zip
credentials.yml
credentials.py
__pycache__/
*.pyc
checkpoints
.vector_cache/
glove.6B.100d.txt
sample_config/
.env
.prettierignore
media/flash_demo.mp4
.DS_Store
*.mp4
*.pt
*.pth
*.onnx
*.zip
*.dat
*.tgz
*.tar
*.pkl
.prettierignore
.env
backups/
