@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.anchor-black {
  text-decoration: none;
  color: black;
}

.heading {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-hover:hover {
  background-color: #cacaf5;
  color: #000;
}

.form-control:focus,
.btn:focus {
  box-shadow: 0 0 0 0;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  /* cursor: pointer; */
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
